@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --Poppins: 'Poppins', sans-serif;
}

.col-6 > a {
  text-decoration: none;
}



h2 {
  font-family: var(--Poppins);
  font-weight: 600;
  font-size: 2rem;
  color: #333A73;
}

h4 {
  font-family: var(--Poppins);
  font-weight: 500;
  font-size: 1.5rem;
  color: #333A73;
}

h5 {
  font-family: var(--Poppins);
  font-weight: 400;
  font-size: 1.2rem;
  color: #fba834;
}

.custome-p {
  font-family: var(--Poppins);
  font-weight: 500;
  font-size: .9rem;
  color: #333A73;
}

.position-relative {
  overflow: hidden;
  border-radius: 25px;
}

.position-relative:hover img {
  scale: 120%;
}

.position-relative img{
  height: 100%;
  width: 100%;
  width: 330px;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  transition: scale 400ms;
}

.font-1 {
  font-family: var(--Poppins);
  color: #333A73;
}

.font-2 {
  font-family: var(--Poppins);
  color: #fba834;
}

.font-3 {
  font-family: var(--Poppins);
  color: #198CD6;
}

.font-4 {
  font-family: var(--Poppins);
  color: #FFFFFF;
}

.transparent-badge {
  background-color: transparent !important;
  border: none;
  padding: 0;
  color: inherit;
  color: #FFFFFF;
}


.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }

  .item .card {
    background-color: rgba(255, 255, 255, 0); 
  
  }
  
  .custom-font {
    font-family: var(--Poppins);
    color: #FFFFFF;
  }

  
  
  
  


  @media (max-width: 768px) {
    .card img {
      height: 150px;
      max-width: 100%;
  }


  .navbar-nav {
    align-items: center;
  }
  }

  .navbar-nav .nav-link {
    position: relative;
}



@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;

  }
}

.card .img-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  max-height: 100%;
  max-width: 100%;
}

.img-container {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.img-container img {
  height: 100%;
  width: 100%;
  width: 330px;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  transition: scale 400ms;
}


.bi-play-circle-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* BADGE */

.kategori-badge {
  font-family: var(--Poppins);
  border: 1px solid #333A73; 
  color: #333A73;
  font-weight: 350;
  display: inline-block;
  font-size: .9rem;
  border-radius: 1.5rem;
  line-height: 1;
  text-align: center;
  margin-right: 0.4rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.kategori-badge:hover {
  border: 1px solid #333A73;
  background-color: #333A73;
  color: #FFFFFF;
}

/* CSS untuk input pencarian */
.search {
  font-family: var(--Poppins);
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #333A73;
  border-radius: 1.5rem;
  font-size: 1rem;
  outline: none;  
  color: #fba834;
  text-align: center; /* Menempatkan teks di tengah */
}

/* CSS untuk memodifikasi tampilan saat input berfokus */
.search:focus {
  border-color: #333A73;
  color: #333A73;
}

/* CSS untuk memastikan teks tetap di tengah saat diketik */
.search::placeholder {
  text-align: center;
  color: #333A73;
}


/* DISCOUNT */

.discount {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.discount > #header {
  padding-left: 25px;
  padding-right: 40px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.discount > #header > #left {
  display: flex;
  flex-direction: column;
}

#timer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#countdown {
  background-color: rgb(218, 66, 49);
  color: white;
  padding: 0.2em 0.6em;
  border-radius: 1em;
  margin-left: 0.5em;
}

#day, #hour, #minute, #second {
  margin: 0 0.2em;
}

.discount > #header > #right {
  width: fit-content;
}

#header > #countdown {
  font-size: 1.3 em;
}

.discount > #body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discount > #body > #tagline {
  padding: 0 1.5em;
}

.discount > #body > #product-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

/* TEKNIK MEMASAK */

.background-cover {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 4rem 2rem;
  border-radius: 0.5rem;
  font-family: var(--Poppins);
}

.background-cover a{
  color: #FFFFFF;
}

.background-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add overlay for better text readability */
  border-radius: inherit;
}

.background-cover > .col-lg-6 {
  position: relative;
  z-index: 1;
}

.teknik-artikel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0.25rem 0.25rem 0;
}

@media (max-width: 768px) {
  .background-cover {
    padding: 2rem 1rem;
  }
}

.kursus-section, .resep-section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

.accordion-button {
  background-color: #198CD6;
  color: #ffffff;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  transition: background 0.3s ease;
}

.accordion-button:hover, .accordion-button:focus {
  background-color: #198CD6;
  outline: none;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #198CD6;
}

.accordion-item {
  border: none;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}



.accordion-body p {
  margin-bottom: 0.5rem;
}


/* Nested Accordion Styling */
.accordion .accordion-item .accordion-header .accordion-button {
  font-size: 1rem;
  background-color: #198CD6;
  padding: 0.75rem 1rem;
}

.accordion .accordion-item .accordion-header .accordion-button:hover, 
.accordion .accordion-item .accordion-header .accordion-button:focus {
  background-color: #198CD6;
}

.accordion-body video {
  width: 100%;
  height: 500px;
  border-radius: 1rem;
  margin-top: 0.5rem;
  box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.3);
}


.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #f8f9fa;
  color: #6c757d;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.form-label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


