@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --Poppins: 'Poppins', sans-serif;
}

body {
    font-family: var(--Poppins);
    font-weight: 300;
}

form h1{
  font-family: var(--Poppins);
  font-weight: 425;
  font-size: 2.2rem;
  color: #ffffff;
  
}

.nav-masthead .nav-link {
    color: #fba834;
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: #fba834;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #ffffff;
    border-bottom-color: #ffffff;
}

.cover-image-register {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 137%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.5);
}

.cover-image-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.cover-image-login::before {
    background-color: rgba(0, 0, 0, 1);
}

@media (max-width: 767px) {
    .cover-image img {
        height: auto;
    }
}

form {
    padding: 2rem;
    border-radius: 20px;
    max-width: fit-content;
    margin: auto;
}

form label {
    color: #ccc;
    font-size: 1.1em;
}

form input::placeholder {
    color: white;
}

@media (min-width: 768px) {
    form input {
        min-width: 350px;
    }
    
}

input.form-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fba834;
    color: #fff;
    padding: 0.75rem 0;
    margin-bottom: 1rem;
    border-radius: 0;
}

input.form-input:focus {
    border-bottom: 2px solid #ffffff;
    box-shadow: none;
    outline: none;
    color: #ffffff;
}

input.form-input:active {
    background-color: transparent;
    color: #fba834;
}

div.forgot-password {
    margin-top: 1em;
}

button.btn {
    background: transparent;
    border: 1px solid #fba834;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
    margin-top: 1em;
}

button.btn:hover {
    background-color: #fba834;
    color: #ffffff;
}
