<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<div class="container">
    <title>Sizzle - Artikel Memasak</title>

    <link href="{% static 'css/artikel.css' %}" rel="stylesheet">

    <section class="design" id="design">
        <div class="title">
            <h2>Seni & Makanan Terkini</h2>
            <p>SENI & MAKANAN TERBARU DI BLOG</p>
        </div>

        <div class="design-content">
            {% for artikel in food_art %}
            
                <div class="design-item">
                    <a href="{% url 'detail_artikel' artikel.id_artikel %}">
                    <div class="design-img">
                        <img src="{{ artikel.gambar_artikel.url }}" alt="{{ artikel.judul_artikel }}">
                        <span><i class="far fa-heart"></i> 40</span>
                        <span>{{ artikel.kategori_artikel }}</span>
                    </div>
                    <div class="design-title">
                        <a>{{ artikel.judul_artikel }}</a>
                    </div>
                </a>
                </div>
            
            {% endfor %}

        </div>
    </section>

    <section class="blog" id="blog">
        <div class="title">
            <h2>Edukasi Populer</h2>
            <p>Istilah-Istilah Teknik Memasak dalam Bahasa Inggris</p>
        </div>
        <div class="blog-content">
            {% for artikel in edukasi %}
            <div class="blog-item">
                <div class="blog-img">
                    <img src="{{ artikel.gambar_artikel.url }}" alt="{{ artikel.judul_artikel }}">
                    <span><i class="far fa-heart"></i></span>
                </div>
                <div class="blog-text">
                    <span>{{ artikel.tanggal_upload|date:"Y-m-d" }}</span>
                    <h2>{{ artikel.judul_artikel }}</h2>
                    <p>{{ artikel.isi_artikel|truncatewords:15 }}</p>
                    <a href="{% url 'detail_artikel' artikel.id_artikel %}" class="second-btn">Lihat Selengkapnya
                        &raquo;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-content">
            {% for artikel in artikel %}
    
            
            <div class="about-img">
                <img src="{{ artikel.gambar_artikel.url }}" alt="{{ artikel.judul_artikel }}">
            </div>
            <div class="about-text">
                <a href="{% url 'detail_artikel' artikel.id_artikel %}" class="text-decoration-none">
                <div class="title">
                    <h2>{{ artikel.judul_artikel }}</h2>
                </div>
                <p>{{ artikel.isi_artikel|truncatewords:50 }}</p></a>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="ig-post" id="ig-post">
    <div class="title">
        <h2>Post Instagram</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </div>
    <div class="blog-content">
        {% for artikel in edukasi %}
        <blockquote
            class="instagram-media mx-auto"
            data-instgrm-permalink="https://www.instagram.com/p/C8eJlhiPR3u"
            data-instgrm-version="13"
        >
            <a href="https://www.instagram.com/p/C8eJlhiPR3u" target="_blank"></a>
        </blockquote>
        {% endfor %}
    </div>
</section>

</div>
{% endblock %}

</html>
