<!DOCTYPE html>
{% extends 'base_user.html' %}
{% load static %}

{% block body_block %}
<div class="container">
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="font-1">{{ kursus.nama_kursus }}</h2>
      <p class="fw-semibold">Chef: {{ kursus.chef }}</p>
      <p>{{ kursus.deskripsi_singkat }}</p>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    {% for pertemuan in pertemuans %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ forloop.counter }}">
        <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}"
          aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
          aria-controls="collapse{{ forloop.counter }}">
          Pertemuan {{ forloop.counter }}: {{ pertemuan.judul }}
        </button>
      </h2>
      <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>{{ pertemuan.deskripsi }}</p>
          <p class="mb-5">Tanggal: {{ pertemuan.tanggal }}</p>

          <h4 class="font-1">Materi</h4>
          <div class="accordion mb-4" id="nestedAccordion{{ forloop.counter }}">
            {% for konten in pertemuan.konten_kursus.all %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="nestedHeading{{ forloop.counter }}-{{ forloop.counter0 }}">
                <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button"
                  data-bs-toggle="collapse" data-bs-target="#nestedCollapse{{ forloop.counter }}-{{ forloop.counter0 }}"
                  aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                  aria-controls="nestedCollapse{{ forloop.counter }}-{{ forloop.counter0 }}">
                  {{ konten.judul }}
                </button>
              </h2>
              <div id="nestedCollapse{{ forloop.counter }}-{{ forloop.counter0 }}"
                class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                data-bs-parent="#nestedAccordion{{ forloop.counter }}">
                <div class="accordion-body">
                  <video src="{{ konten.video.url }}" controls class="card-img-top"></video>
                  <p class="card-text mt-4 mb-4">{{ konten.deskripsi }}</p>
                  <a href="{{ konten.pdf.url }}" class="btn btn-primary">Download Materi PDF</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="row">
            <div class="col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="font-1">Bahan Tugas</h4>
                  <ul class="list-group">
                    {% for bahan in pertemuan.resep_bahan.all %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      {{ bahan.nama }}
                      <span class="badge rounded-pill" style="background-color: rgb(218, 66, 49);">{{ bahan.jumlah }}</span>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            {% for tugas in pertemuan.tugas_set.all %}
            <div class="col-md-6">
              <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                  <h4 class="font-1 mb-0">{{ tugas.judul }}</h4>
                  <a href="{% url 'submit_tugas' tugas.id %}" class="btn">Submit Tugas</a>
                </div>
              </div>
            </div>
            {% endfor %}

            {% for kuis in pertemuan.kuis_set.all %}
            <div class="col-md-6">
              <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                  <h4 class="font-1 mb-0">{{ kuis.judul }}</h4>
                  <a href="{% url 'ambil_kuis' kuis.id %}" class="btn">Mulai Kuis</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>









</div>

{% endblock %}

</html>